H3 {
	color: #424860;
}

H2 {
	color: #4D87C0;
}

H1 {
	color: #4984BF;
}

BODY {
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial, Helvetica, sans-serif;
	background: #EFEFEF;
}

.tablita {
	
}

.miselect {
	width: 120px;
}

.miselect2 {
	width: 0px;
}

.miselect3 {
	width: 120px;
}

.nivel {
	width: 120px;
}

.salaanio {
	width: 120px;
}

.miinput {
	width: 40px;
	height: 25px;
}

.miinput2 {
	width: 100px;
	height: 25px;
}

.miinput3 {
	width: 200px;
	height: 25px;
}


.cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(170, 170, 170, 0.6);
	z-index: 10000;
	display: none;
}

.ajax-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -109px; /* -1 * image width / 2 */
	margin-top: -8px; /* -1 * image height / 2 */
	display: block;
}

.mmf_table {
	border-style: dotted;
	border-width: 10px;
	border-color: #660033;
	background-color: #cc3366;
	font-family: verdana, arial;
	font-size: 10pt;
}

/*
#example #nombre_seccion {width:100px;}
#example{	width:500px}
#example select{ 	width:130px;	}
#example input{ 	width:40px;	height:25px;}

#example1 #nombre_seccion1 {width:100px;}
#example1{	width:500px}
#example1 select{ 	width:150px;	}
#example1 input{ 	width:50px;	height:30px;}

#example2 #nombre_seccion2 {width:100px;}
#example2{	width:500px}
#example2 select{ 	width:130px;	}
#example2 input{	width:40px;	height:25px;}

*/
#page {
	margin-top: 5px;
	margin-bottom: 5px;
	background: #FFFFFF;
	border: 1px solid #C9E0ED;
}

#header {
	margin: 0;
	padding: 0px;
}

#content {
	padding: 40px;
}

#sidebar {
	padding: 20px 20px 20px 0;
}

#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	padding: 5px;
	font-size: 204%;
	color: #82878C;
	border-top-color: #FFFFFF;
	width: 0px;
}

#mainmenu {
	background: #FFFFFF url(bg.gif) repeat-x left top;
}

#mainmenu UL {
	padding: 6px 20px 5px;
	margin: 0px;
}

#mainmenu UL LI {
	display: inline;
}

#mainmenu UL LI A {
	color: #FFFFFF;
	background-color: transparent;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	padding: 5px 8px;
}

#mainmenu UL LI A:hover,#mainmenu UL LI.active A {
	color: #6399CD;
	background-color: #EFF4FA;
	text-decoration: none;
}

DIV.flash-error,DIV.flash-notice,DIV.flash-success {
	padding: 0.8em;
	margin-bottom: 1em;
	border: 2px solid #DDD;
}

DIV.flash-error {
	background: #FBE3E4;
	color: #8A1F11;
	border-color: #FBC2C4;
}

DIV.flash-notice {
	background: #FFF6BF;
	color: #514721;
	border-color: #FFD324;
}

DIV.flash-success {
	background: #E6EFC2;
	color: #264409;
	border-color: #C6D880;
}

DIV.flash-error A {
	color: #8A1F11;
}

DIV.flash-notice A {
	color: #514721;
}

DIV.flash-success A {
	color: #264409;
}

DIV.form .rememberMe LABEL {
	display: inline;
}

DIV.view {
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

DIV.breadcrumbs {
	font-size: 0.9em;
	padding: 33px 0px 0px 6px;
	margin-top: 0px;
}

DIV.breadcrumbs SPAN {
	font-weight: bold;
}

DIV.search-form {
	padding: 10px;
	margin: 10px 0;
	background: #EEE;
}

DIV.avatar {
	display: block;
	/*[empty]background:;*/
	padding: 2px;
	border: 1px solid #000000;
	width: 88px;
	height: 84px;
	/*+placement:float-right -25px 83px;*/
	float: right;
	position: relative;
	left: -25px;
	top: 83px;
}

DIV.avatar IMG {
	width: 88px;
	height: 83px;
	padding-top: 0px;
}

.portlet {
	/*+placement:shift 3px 27px;*/
	position: relative;
	left: 3px;
	top: 27px;
}

.portlet-decoration {
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298DCD;
}

.portlet-content {
	font-size: 0.9em;
	margin: 0 0 15px;
	padding: 5px 8px;
	background: #EFFDFF;
}

.portlet-content UL {
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.portlet-content LI {
	padding: 2px 0 4px 0px;
}

.operations {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations LI {
	padding-bottom: 2px;
}

.operations LI A {
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations LI A:visited {
	color: #0066A4;
}

.operations LI A:hover {
	background: #80CFFF;
}